{% extends "base.html" %} {% block title %}Add Item{% endblock %} {% block
content %}
<div class="container">
  <h1>Add Item</h1>
  <form method="POST" action="{{ url_for('add_item') }}">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      {{ form.name(class="form-control", id="name") }}
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      {{ form.price(class="form-control", id="price") }}
    </div>
    <div class="mb-3">
      <label for="barcode" class="form-label">Barcode</label>
      {{ form.barcode(class="form-control", id="barcode") }}
    </div>
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      {{ form.description(class="form-control", id="description") }}
    </div>
    <div class="mb-3">{{ form.submit(class="btn btn-primary") }}</div>
  </form>
</div>
{% endblock %}
